/* styles for my website */
/* Ctrl+/ : comment out */

/* * : apply for all */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    /* height: 200px; */
    background: yellow;
    overflow: hidden;
    padding: 20px 0;
}

#inner-header, #inner-footer {
    margin: 0px auto;
    max-width: 1200px;
    /* wrapper to soroeru */
}

#logo {
    float: left;
    width: 170px;
}

nav ul {
    float: right;
    margin-top: 30px;
}

nav li {
    float: left;
    margin-left: 15px;
    list-style-type: none;
}

nav a {
    text-decoration: none;
}

.current {
    color: red;
}

#wrapper {
    margin: 20px auto;
    max-width: 1200px;
}

#hero {
    height: 300px;
    margin-bottom: 20px;
    background: rgb(166, 179, 255);
    clear: both;
}

main {
    width: 63%;
    /* height: 400px; */
    padding: 5px;
    margin-bottom: 20px;
    /* background: lightblue; */
    float: left;
}

main h1, h2, p {
    margin-bottom: 20px;
}

.lightblue {
    color: rgb(0, 250, 208);
}

.blue {
    color: rgb(0, 132, 255);
}

.red {
    color: rgb(255, 72, 0);
}

.purple {
    color: rgb(60, 0, 95);
}

.yellow {
    color: rgb(255, 196, 0);
}

.orange {
    color: rgb(255, 115, 0);
}

.brown {
    color: rgb(112, 60, 0);
}

main li {
    margin-left: 20px;
}

aside {
    width: 35%;
    /* height: 300px; */
    padding: 5px;
    /* background: coral; */
    float: right;
}

aside h3 {
    padding-bottom: 20px;
}

aside img {
    width: 47%;
    margin: 2px;
}

.img {
    max-width: 300px;
}

footer {
    /* background: #666; */
    border-top: 1px solid #666;
    height: 50px;
    clear: both;
    height: 50px;
    line-height: 50px;
}

footer li {
    float: left;
    margin-right: 30px;
    list-style-type: none;
}

/* MY FORM STYLES */

/* styles for my form class exercise */

form {
    width: 400px;
    margin: 20px auto;
}

fieldset {
    border: 1px solid rgb(201, 204, 41);
    padding: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1.2em;
}

input[type=text],
input[type=email],
input[type=tel] {
    display: block;
    height: 30px;
    width: 100%;
    margin-bottom: 10px;
}

input[type=button] {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

input[type=submit] {
    display: block;
    margin-bottom: 10px;
    height: 40px;
    width: 100%;
}

.error {
    display: block;
    color: red;
    margin-bottom: 8px;
    font-style: italic;
}

form ul {
    margin-left: 10px;
    list-style-type: none;
    margin-bottom: 7px;
}

select, textarea {
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    height: 140px;
    resize: none;
}

/* Our thank you page */
#thanks {
    margin: 20px auto;
    max-width: 1200px;
    text-align: center;
}

#thanks h1 {
    margin-top: 30px;
    margin-bottom: 20px;
}

#thanks img {
    height: 400px;
}

/* Our gallery page */
table {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0 auto;
    width: 100%;
}
th, td {
    border: 1px solid black;
}
.image {
    padding: 3px 3px 0 3px;
    height: 200px;
}
.text {
    padding: 10px;
}
.table {
    width: 100%;
}
.cb {
    clear:  both;
}

.adminer {
    max-width: 100%;
    margin: 20px;
}